*{
    font-family: Roboto, 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    background-color: #FFF159;
    height: 100px;
    width: 100%;
}

.logo{
    display: flex;
    padding: 166px;
    flex-direction: row;
    align-items: center;
    padding: 12px;    
}

.lista-opciones{
    display: flex;
    flex-direction: row;
    gap: 17.8px;
    justify-content: space-between;
    
}

.texto-oscuro{
    font-weight: 700;
}

.texto-menu{
    font-size: 13px;
    font-weight: 400;
    color: #333333;
}

section{
    background-color: #EBEBEBEB;
}

.medios-pago-section{
    display: flex;
    flex-direction: row;
    padding: 164px;
}
.cuadro-medios-pago{
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: white;
}

.texto-medios-pago{
    font-weight: 400;
    font-size: 17px;
    color: black;
}

.medio-pago{
    display: flex;
    flex-direction: row;
    gap: 16.5px;
}

.color-ver-mas{
    color: #3483FA;
}

.titulo-ofertas{
    font-size: 25px;
    color: #666666;
    font-weight: 300;
}

.ofertas-section{
    display: flex;
    flex-direction: column;
    gap: 21.19px;
}
.ofertas-header{
    display: flex;
    flex-direction: row;
    gap: 16.38px;
}

.ofertas-container{
    display: flex;
    gap: 16px;
}

.oferta{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
}

.oferta-titulo{
    font-size: 23px;
    font-weight: 400;
    color: #333333;
}

.oferta-subtitulo{
    font-size: 14px;
    font-weight: 400;
    color: #00A650;
}

.texto-envio{
    font-weight: 600;
}

.footer-container{
    padding: 17px;
}

.cabeza-footer{
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.info-legal{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-block-end: 33px;
}

.texto-legal{
    font-size: 11px;
    color: #999999;
    font-weight: 400;
}

.texto-encabezado{
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}

.borde-footer{
    border: 1px solid #E6E6E6E6;
}

.imagenes-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}