*{
    font-family: Roboto, 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

body{
    height: 100vh;
    width: 99vw;
}

header{
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF159;
    height: 100px;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #EBEBEBEB;

}

section{
    width: 1200px;
    margin: 45px;
    padding: -10%;
}

button{
    color: white;
    background-color: #3483FA;
    border-radius: 2%;
    width: 96px;
    height: 36px;
    border-color: #3483FA;
    
}

.logo{
    display: flex;
    padding: 166px;
    flex-direction: row;
    align-items: center;
    padding: 12px;    
}

.lista-opciones{
    display: flex;
    flex-direction: row;
    gap: 17.8px;
    justify-content: space-between;
    
}

.texto-oscuro{
    font-weight: 700;
}

.texto-menu{
    font-size: 13px;
    font-weight: 400;
    color: #333333;
}

.medios-pago-section{
    display: flex;
    flex-direction: row;
    padding: 164px;
}

.cuadro-medios-pago{
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: white;
}

.texto-medios-pago{
    font-weight: 400;
    font-size: 17px;
    color: black;
}

.medio-pago{
    display: flex;
    flex-direction: row;
    gap: 16.5px;
}

.color-ver-mas{
    color: #3483FA;
}

.ver-mas{
    color: #3483FA;
    margin-bottom: 21.19px;
    padding-top:50px;
}
.titulo-ofertas{
    font-size: 25px;
    color: #666666;
    font-weight: 300;
    margin-bottom: 21.19px;
    padding-top:50px;
}

.ofertas-section{
    display: flex;
    flex-direction: column;
    
}

.ofertas-header{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 16.38px;
}

.ofertas-container{
    display: flex;
    gap: 16px;
}

.oferta{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
}

.oferta-titulo{
    font-size: 23px;
    font-weight: 400;
    color: #333333;
}

.oferta-subtitulo{
    font-size: 14px;
    font-weight: 400;
    color: #00A650;
}

.texto-envio{
    font-weight: 600;
}

.suscribe-section{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.suscribe-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#0c1a51;
}

.suscribe-info{
    margin: 24px;
    
}
.titulo-suscribe{
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.texto-oferta{
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.texto-descuento{
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.texto-descuento-subrayado{
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration-line: line-through;
}

.descripcion-subscribe{
    font-size: 17px;
    font-weight: 400;
    color: black;
}

.opciones-subs{
    
}

.suscribe-container{
    display: flex;
    flex-direction: row;
    gap: 74px;
    align-items: center;
}

.beneficios-content{
    margin: 80px;
}

.beneficios-title{
    font-weight: 300;
    font-size: 25px;
    color: #666666;
    margin: 80px;
}

.card-beneficio{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 384px;
    height: 250px;
    margin: 21.16;    
    border-radius: 2%;
    justify-content:flex-start;
}

.fondo-disney{
    background-image: url("/media/disney_benef.png");
}

.fondo-hbo{
    background-image: url("/media/hbo_max_benef.png");
}

.fondo-paramount{
    background-image: url("/media/paramount_benf.png");
}

.beneficios-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.alineado{
    align-items:flex-end;
}

.text-beneficios{
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.alternative-text-beneficios {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.descubre-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descubre-container{
    display: flex;
    flex-direction: row;
    gap: 36px;
    width: 100%;
}

.tarjeta-muebles {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 584px;
    height: 250px;
    padding-left: 32px;
    border-radius: 4px;
}

.titulo-descubre{
    font-weight: 600;
    font-size: 28px;
    line-height: 30.8px;
    color: #4B4B4B;
}

.otro-titulo{
    font-weight: 600;
    font-size: 28px;
    line-height: 30.8px;
    color: #4B4B4B;
}

.encabezado-descubre{
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 4px;
}

.tiendas-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.tarjeta-tiendas{
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 340px;
    gap: 16px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.nombre-tienda{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.banner-tiendas{
    position: absolute;
    margin: 245px;
    padding: 100px;
}

.ver-tienda{
    font-size: 15px;
    font-weight: 600;
    color: #999999;
}

.imagenes-productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height:70px;
    gap: 6px;
}

.borde-imagenes{
    border: 1px solid gray;
    border-radius: 15%;
}

.tarjetas-mercado{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}

.container-mercado{
    width: 184px;
    height: 184px;
    border: 10%;
    margin-bottom: 8px;
    background-color: white;
}

.principal-supermercado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.separador{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.super-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 42px;
    margin-left: 25px;
    margin-bottom: 24px;

}

.titulo-super{
    display: flex;
    flex-direction: row;
    gap: 6.8px;
}

.texto-supermercado{
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    color: #666666;
    margin-bottom: 21.19px;
    padding-top:50px;
}

.populares-section{
    background-color: white;
}

.populares-container{
    display: flex;
    flex-direction: row;
}

.tarjeta-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 170px;
    border: 1px ridge #EAE6E6;
}

.seccion-otra-informacion{
    display: flex;
    flex-direction: row;
    width: 556;
    height: 300px;
}

.otra-informacion{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-otra-informacion{
    font-size: 20px;
    font-weight: 500;
    color: #4B4B4B;
    margin-top: 21.72px;
}

p{
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    text-align: center;
    width: 296.23px;
    height: 57px;
    margin-top: 2;
    margin-bottom: 9;

}
.footer-container{
    padding: 17px;
}

.cabeza-footer{
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.info-legal{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-block-end: 33px;
}

.texto-legal{
    font-size: 11px;
    color: #999999;
    font-weight: 400;
}

.texto-encabezado{
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}

.borde-footer{
    border: 1px solid #E6E6E6E6;
}

.imagenes-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}